.progress {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    .progress {
      width: 409.5px;
    }
  }
  .progres__wrap {
    transition: width 500ms ease;
  }
  .progres__text {
    padding: 5px;
    color: #000000;
    font-weight: 700;
    font-family: 'Circe';
    font-size: 12px;
  }