:root {
    --primary-bg-color: #fff;
    --secondary-bg-color: #E7EAF2;
    --accent-color-green: #24CCA7;
    --accent-color-pink: #FF6596;
    --accent-color-blue: #4A56E2;
    --primary-text-color: #000;
    --secondary-text-color: #BDBDBD;
    --disabled-grey5-color: #E0E0E0; 
    --icon-violet-color: #6E78E8;
    --icon-blue-color: #4A56E2;

}